.font-alternative {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.muted,
.mute {
    color: $color_mute;
}

.white {
    color: $color_white;
}

.text-highlight {
    color: $color_main_fg;
}

.thin {
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.text-center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.fancy {
  text-transform: capitalize;
  letter-spacing: -0.1rem;
  font-weight: bold;
  font-variant: small-caps;
  font-style: italic;
}

h3,
.h3 {
    font-size: 1.17em;
    small,
    .small {
        font-size: 0.5em;
    }
}

h5,
.h5 {
    font-size: 0.83em;
    small,
    .small {
        font-size: 0.5em;
    }
}

b,
.strong {
    font-weight: 600;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        &:link,
        &:visited {
            text-decoration: none;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

h1,
.h1 {
    font-size: 2em;
    small,
    .small {
        font-size: 0.5em;
    }
}

h2,
.h2 {
    font-size: 1.5em;
    small,
    .small {
        font-size: 0.5em;
    }
}

.small {
  font-size: 0.9rem;
}
