$color_main: #2c62b8;
$color_secondary: lighten($color_main, 40%);
$color_mute: #b3b3b3;
$color_white: #fdfdfd;
$color_black: #373737;
$color_gray: lighten(desaturate($color_main, 60%), 40%);

$color_red: #c7254e;
$color_red_light: #f9f2f4;;
