<!-- comments -->
		<div class="col-sm-10">
			<div id="disqus_thread">
			</div>
		</div>
		<div class="col-sm-2 sidebar-2"></div>

	<script type="text/javascript">
			disqus_shortname = '{{ site.disqus_shortname }}';
			disqus_identifier = '{{ page.id }}';
			disqus_title = '{{ page.title }}';
			disqus_container_id = 'disqus_thread';

			(function() {

				var comments = document.getElementById('disqus_thread'),
						disqusLoaded=false;

				function loadDisqus() {
						var disqus_shortname = window.disqus_shortname;
						var dsq = document.createElement('script');
						dsq.type = 'text/javascript';
						dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						disqusLoaded = true;
				}

				//Get the offset of an object
				function findTop(obj) {
						var curtop = 0;
						if (obj.offsetParent) {
								do {
										curtop += obj.offsetTop;
								} while (obj = obj.offsetParent);
								return curtop;
						}
				}

				if(window.location.hash.indexOf('#disqus_thread') > 0) {
					loadDisqus();
				}

				if(comments) {
						var commentsOffset = findTop(comments);

						window.onscroll = function() {
								if(!disqusLoaded && window.pageYOffset > commentsOffset - 1500) {
										//console.log('load comments, NOW!!');
										loadDisqus();
								}
						}
				}

			})();
	</script>

<!-- comments end-->
