<!doctype html>
<html lang="en" data-last-build="{{site.lastBuild}}" class="layout-blog">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed | {{ site.title }}" href="/feed.xml?rev={{site.revision}}">

  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ title }} | {{ site.title }}" />
  <meta property="og:type" content="website" />

  <meta property="og:url" content="/" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12754582-1"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script async src="/assets/js/app.js?rev={{site.revision}}"></script>



  <link rel="icon" href="/assets/ico/favicon.ico?rev={{site.revision}}">
  <link rel="apple-touch-icon" href="/assets/ico/favicon.png?rev={{site.revision}}">
  <link rel="stylesheet" href="/assets/css/style.css?rev={{site.revision}}">

</head>

<body>
  <nav>
    <div class="nav d-flex flex-direction-row justify-content-around">
        <a href="/" class="d-flex flex-row justify-content-around">
          {{ site.title }}
        </a>

        <ul class="d-flex flex-row justify-content-around">
            <li class="d-flex flex-column justify-content-center">
              <a href="https://twitter.com/{{author.twitter}}" title="Go to: twitter/@{{ author.twitter }}" class="text-color-normal">
                <span class="fab fa-twitter"></span>
                <span class="sr-only">{{ author.twitter }}</span>
            </a></li>

            <li class="d-flex flex-column justify-content-center">
              <a href="https://www.linkedin.com/in/{{author.linkedin}}" title="Go to: linkedin/{{ author.linkedin }}" class="text-color-normal">
                <span class="fab fa-linkedin"></span>
                <span class="sr-only">{{ author.linkedin }}</span>
            </a></li>

            <li class="d-flex flex-column justify-content-center">
              <a href="https://github.com/{{author.github}}" title="Go to: github/{{ author.github }}" class="text-color-normal">
                <span class="fab fa-github"></span>
                <span class="sr-only">{{ author.github }}</span>
            </a></li>

            <li class="d-flex flex-column justify-content-center">
              <a href="/feed.xml" title="Subscribe to this website's RSS feed" class="text-color-normal">
                <span class="fas fa-rss"></span>
                <span class="sr-only">RSS Feed</span>
            </a></li>
        </ul>
    </div>
  </nav>

  <header>
      <p class="d-flex flex-row justify-content-center">
        <span class="img-badge" style="background-image: url(http://www.gravatar.com/avatar/{{author.emailMd5}}?s=150);">
          <img src="http://www.gravatar.com/avatar/{{author.emailMd5}}?s=150" alt=" " class="sr-only">
        </span>
      </p>
      <h1 style="font-size: 4vw;">
        <span class="sr-only">
          {{ site.title }}<br>
        </span>
        {{ author.bio }}
      </h1>
      <blockquote cite="https://www.youtube.com/watch?v=2Zg4ubL4efw&list=PLkB-BAAgmaG0HVzO9YX42S_MRfWvCmIKS"
        class="m-0 p-0 text-light">
        {{ site.description }}
      </blockquote>
  </header>

  <main>
    <h1 class="text-color-main">{{ title }}</h1>
    <p>{{ description }}</p>
    {{{ contents }}}
  </main>

  <hr>

  <aside>
    <h2 class="text-center text-light first-letter title-spacer">
      Latest from the blog
    </h2>
    <ul class="article-list">
      {{#each articles}}
      <li>
        <a href="/{{path}}" class="d-inline-block">
          <h3 class="d-flex flex-row-reverse justify-content-end align-items-start title-entry">
            <span>
              {{title}}<br>
              {{#if description}}<small>{{{description}}}</small>{{/if}}
            </span>
            <span class="sr-only">&mdash;</span>
            <time class="nolink d-flex flex-column justy-content-center align-items-center"
                  datetime="{{#datefn date}}{{/datefn}}" title="{{#datefn date 'MMMM Do YYYY' }}{{/datefn}}">
              <span class="DD text-center">
                {{#datefn date 'DD'}}{{/datefn}}
              </span>
              <span class="MMM text-center">
                {{#datefn date 'MMM'}}{{/datefn}}
              </span>
              <span class="sr-only">
                {{#datefn date 'YYYY'}}{{/datefn}}
              </span>
            </time>
          </h3>
        </a>
      </li>
      {{/each}}
    </ul>

    <h2 class="text-center text-light first-letter title-spacer">
      Unwritten
    </h2>
    <p class="text-light">Topics I had in mind recently and never the time nor the courage to write a full post about.</p>
    <ul class="article-list">
      {{#each unwritten}}
      <li>
          <a href="/{{path}}" class="d-inline-block">
            <h3 class="d-flex flex-row-reverse justify-content-end align-items-center title-entry">
              <span>
                {{title}}
              </span>
              <span class="sr-only">&mdash;</span>
              <time class="nolink d-flex flex-column justy-content-center align-items-center"
                    datetime="{{#datefn date}}{{/datefn}}" title="{{#datefn date 'MMMM Do YYYY' }}{{/datefn}}">
                <span class="DD text-center">
                  {{#datefn date 'DD'}}{{/datefn}}
                </span>
                <span class="MMM text-center">
                  {{#datefn date 'MMM'}}{{/datefn}}
                </span>
                <span class="sr-only">
                  {{#datefn date 'YYYY'}}{{/datefn}}
                </span>
              </time>
            </h3>
            <!-- {{#if excerpt}}{{{excerpt}}}{{/if}} -->
          </a>
        </li>
      {{/each}}
    </ul>

    <h2 class="text-center text-light first-letter title-spacer">
      Projects
    </h2>
    <p class="text-light">Experiments, tests and other stuff I've worked on. Have a look.</p>

    <ul class="article-list simple">
      {{#each author.githubRepos}}
      <li>
          <a href="{{html_url}}" title="{{ description }}" class="d-inline-block text-color-normal text-underline">
            <span class="d-flex flex-row-reverse justify-content-end align-items-center">
              <span>
                {{name}}
              </span>
            </span>
            <!-- {{#if excerpt}}{{{excerpt}}}{{/if}} -->
          </a>
        </li>
      {{/each}}
    </ul>
    <p class="sr-only text-center">
      <a href="https://github.com/{{ author.github }}">
          Check out all my projects on GitHub
      </a>
    </p>
  </aside>

  <footer class="container-fluid">
    <p class="title-spacer text-center">
      &copy; {{ author.name }} {{ site.copyrightYear }}
      <span class="sr-only">.</span>
      <br />
    </p>
    <p class="title-spacer text-center">
      All the ideas are mine if not specified otherwise.
    </p>

    <div class="row">
      {{#each site.images}}
      <div class="col-2" style="
          background: linear-gradient(to bottom, {{color}} 55%, rgba(44, 98, 184, 0.5) 100%);
          background-image: url({{ url }}?rev={{../site.revision}});
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          overflow: hidden;
          height: 0;
          padding-top: 12.25%;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 14.28571%;
          flex: 0 0 14.28571%;
          max-width: 14.28571%;
        ">
        </div>
      {{/each}}
    </div>

    <p id="cookie-ok" style="display: none !important;" class="d-flex flex-row justify-content-around align-content-center">

      <span class="d-flex flex-column justify-content-center">
        Cookie Disclaimer: This website uses cookies. By further browsing you consent to such use.
      </span>
      <button type="button" class="nowrap">OK, got it.</button>
    </p>
  </footer>
</body>

</html>
