<!doctype html>
<html lang="en" data-last-build="{{site.lastBuild}}" class="layout-stf">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed | {{ site.title }}" href="/feed.xml">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12754582-1"></script>
  <script async src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script async src="/assets/js/app.js?rev={{site.revision}}"></script>

  <link rel="icon" href="/assets/ico/favicon.ico?rev={{site.revision}}">
  <link rel="apple-touch-icon" href="/assets/ico/favicon.png?rev={{site.revision}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
  <link rel="stylesheet" href="/assets/css/style.css?rev={{site.revision}}">
  <link href="https://micro.blog/{{author.micro}}" rel="me">

</head>

<body>

  <header style="background: silver;">
    header!
  </header>

  <main>
    {{{ contents }}}
  </main>

  <footer style="background: silver;">
    this is footer!
  </footer>
</body>

</html>
