<!doctype html>
<html lang="en" data-last-build="{{site.lastBuild}}" class="layout-stf">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      {{ title }}
      {{#if pagination.num}}
        {{#ifNotEquals pagination.num '1'}}
          Archive Page {{pagination.num}}
           |
        {{/ifNotEquals}}
      {{/if}}
      {{#if title}} | {{/if}}
      {{ site.title }}
  </title>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed | {{ site.title }}" href="/feed.xml">

  <script async src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!-- <script async src="/assets/js/app.js?rev={{site.revision}}"></script> -->

  <link rel="icon" href="/assets/ico/favicon.ico?rev={{site.revision}}">
  <link rel="apple-touch-icon" href="/assets/ico/favicon.png?rev={{site.revision}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
  <link rel="stylesheet" href="/assets/css/style.css?rev={{site.revision}}">
  <link href="https://micro.blog/{{author.micro}}" rel="me">

</head>

<body>
  <header>
    <h1>
        <a href="/">
          {{ site.title }}
          <small class="thin"><br/>{{ site.description }}</small>
        </a>
    </h1>
  </header>

  <section class="columns author">
    <div class="col-main m-0">
        <div class="col-main-content">
          <p class="m-0 p-0" style="
            display: flex;
            flex-direction: row;
            font-size: 14px;
            line-height: 1;
            align-items: center;
          ">
            <span class="author-image" style="background-image: url(https://www.gravatar.com/avatar/{{author.emailMd5}}?s=150);"></span>
            <span class="author-text">{{ author.bio }}</span>
          </p>
        </div>
    </div>
    <div class="col-aside"></div>
  </section>

  <section class="columns">
    <div class="col-main">
      <main class="col-main-content">
        <!-- article -->
        {{#unless isHomepage}}
          <article class="article-post">
            <header>
              <h2><a href="/{{path}}">
                <span class="sr-only">Article:&#32;</span>
                {{ title }}
              </a></h2>
              <p class="date" title="{{#datefn date 'dddd Do MMMM YYYY, HH:mm'}}{{/datefn}}"> <time datetime="{{date}}">{{#datefn date '<b>MMM D, \'YY</b> / H:mma'}}{{/datefn}}</time> </p>
            </header>
            {{{ contents }}}
            {{#unless tags}}
              <footer><p><span class="muted">Filed under</span>&#32;//&#32;
                {{#each tags}}<span>{{this}}</span>{{/each}}</p>
              </footer>
            {{/unless}}
          </article>
          <hr>

          <p class="article-pagination text-center">
            <a href="/" class="active btn" style="display: inline-block;">&LT; Back to the post list</a>
          </p>

          <hr>
        {{/unless}}
        <!-- article -->

        {{#if pagination}}
          {{#if pagination.files}}
          <!-- content -->
          {{#each pagination.files}}
            <article class="article-post">
              <header>
                <h2><a href="/{{path}}">{{ title }}</a></h2>
                <p class="date" title="{{#datefn date 'dddd Do MMMM YYYY, HH:mm'}}{{/datefn}}">
                  <time datetime="{{date}}">{{#datefn date '<b>MMM D, \'YY</b> / H:mma'}}{{/datefn}}</time>
                </p>
              </header>
              {{{ contents }}}
              {{#unless tags}}
              <footer><p><span class="muted">Filed under</span>&#32;//&#32;
                {{#each tags}}<span>{{this}}</span>{{/each}}</p>
              </footer>
              {{/unless}}
            </article>
          {{/each}}

            <!-- nav links -->
            <nav class="article-pagination text-center">
              <ul>
                <li>
                  {{#if pagination.previous}}
                  <a href="{{#if pagination.previous}}/{{pagination.previous.path}}{{/if}}"
                    class="{{#unless pagination.previous}}active{{/unless}} btn">
                      &LT; Newer Posts
                  </a>
                  {{/if}}
                </li>
                {{!--
                  {{#each pagination.pages}}
                    <li class="{{#ifEquals pagination.num ../pagination.num }}active-li{{/ifEquals}}"><a
                      href="/{{path}}" class="{{#ifEquals pagination.num ../pagination.num }}active{{/ifEquals}}"
                      >{{ pagination.num }}</a></li>
                  {{/each}}
                --}}
                {{#if pagination.next}}
                <li>
                  <a href="{{#if pagination.next}}/{{pagination.next.path}}{{/if}}"
                    class="{{#unless pagination.next}}active{{/unless}} btn">
                      Older Posts &GT;
                  </a>
                </li>
                {{/if}}
              </ul>
            </nav>
          {{/if}}
        {{/if}}

        {{!-- <!--
          {{#if isHomepage}}
          {{#each articles}}
          <article class="article-post">
            <header>
              <h2><a href="/{{path}}">{{ title }}</a></h2>
              <p class="date" title="{{#datefn date 'dddd Do MMMM YYYY, HH:mm'}}{{/datefn}}"> <time datetime="{{date}}">{{#datefn date '<b>MMM D, \'YY</b> / H:mma'}}{{/datefn}}</time> </p>
            </header>
            {{{ contents }}}
            {{#unless tags}}
            <footer><p><span class="muted">Filed under</span>&#32;//&#32;
              {{#each tags}}<span>{{this}}</span>{{/each}}</p>
            </footer>
            {{/unless}}
          </article>
          {{/each}}
          {{/if}}
        --> --}}

      </main>
    </div>

    <!-- right col -->
    <aside class="col-aside">
      <section>
        <h2 class="h3 side-title">
          Connect
        </h2>
        <ul class="nostyle simplelist">
            <li class="small">
              <a href="https://twitter.com/{{author.twitter}}" title="Go to: twitter/@{{ author.twitter }}" class="text-color-normal">
                <span class="fab fa-twitter"></span>
                <span class="sr-only-">@{{ author.twitter }}</span>
            </a></li>
            <li class="small">
              <a href="https://www.linkedin.com/in/{{author.linkedin}}" title="Go to: linkedin/{{ author.linkedin }}" class="text-color-normal">
                <span class="fab fa-linkedin"></span>
                <span class="sr-only-">{{ author.linkedin }}</span>
            </a></li>
            <li class="small">
              <a href="https://github.com/{{author.github}}" title="Go to: github/{{ author.github }}" class="text-color-normal">
                <span class="fab fa-github"></span>
                <span class="sr-only-">{{ author.github }}</span>
            </a></li>
            <li class="small">
              <a href="/feed.xml" title="Subscribe to this website's RSS feed" class="text-color-normal">
                <span class="fas fa-rss"></span>
                <span class="sr-only-">Feed rss</span>
                <!-- <span class="text-highlight">(10)</span> -->
              </a></li>
        </ul>
      </section>
      <section>
        <h2 class="h3 side-title">
          Projects
        </h2>
        <p class="m-0 p-0 small">Experiments, tests and other stuff I've worked on. Have a look.</p>
        <ul class="nostyle simplelist">
          {{#each author.githubRepos}}
          <li class="small">
              <a href="{{html_url}}" title="{{ description }}" class="d-inline-block text-color-normal text-underline">
                <span class="d-flex flex-row-reverse justify-content-end align-items-center">
                  <span>
                    {{name}}
                  </span>
                </span>
                <!-- {{#if excerpt}}{{{excerpt}}}{{/if}} -->
              </a>
            </li>
          {{/each}}
        </ul>
        <p class="sr-only text-center">
          <a href="https://github.com/{{ author.github }}">
              Check out all my projects on GitHub
          </a>
        </p>
      </section>

    </aside>
  </section>

  <hr>

  <footer class="container-fluid text-center">
    <p class="thin mute small mb-0">
      &copy; {{ author.name }} {{ site.copyrightYear }}
    </p>
    <p class="thin mute small mt-0">
      All the ideas are mine if not specified otherwise.
    </p>

    <div class="row">
      {{#each site.images}}
        <div class="col-2 site-image" style="background: linear-gradient(to bottom, {{color}} 55%, rgba(44, 98, 184, 0.5) 100%); background-image: url({{ url }}?rev={{../site.revision}});"
          {{#if caption}}title="{{caption}}"{{/if}}></div>
      {{/each}}
    </div>
  </footer>

</body>

</html>
