@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css");
.nowrap {
  white-space: nowrap; }

.border-top, nav .nav {
  border-top: 1px solid #d7d8d9; }

.border-bottom, nav .nav, aside, .article-list:not(.simple) li {
  border-bottom: 1px solid #d7d8d9; }

.cursor-pointer, #cookie-ok, #cookie-ok button {
  cursor: pointer; }

.m-0, #cookie-ok, nav .nav, nav .nav ul,
nav .nav li, .article-list, .article-list:not(.simple) li, .layout-blog main + hr {
  margin: 0; }

.p-0, nav .nav ul,
nav .nav li, .article-list, .article-list:not(.simple) li, .layout-blog main + hr {
  padding: 0; }

.text-color-normal, a.text-color-normal:link, a.text-color-normal:visited, a.text-color-normal:hover, a.text-color-normal:active, a.text-color-normal:focus, .title-entry small {
  color: #373737; }

.text-color-main, a:link, a:visited, a:hover, a:active, a:focus {
  color: #2c62b8; }

.text-color-light, .layout-blog main h3 {
  color: #b3b3b3; }

.text-center, header {
  text-align: center; }

.text-normal, .title-entry {
  font-weight: 400; }

.text-bold, .title-entry time .DD {
  font-weight: 700; }

.text-light, .title-entry time .MMM {
  font-weight: 200; }

a.text-underline,
.text-underline {
  text-decoration: underline; }
  a.text-underline:link, a.text-underline:visited,
  .text-underline:link,
  .text-underline:visited {
    text-decoration: underline; }
  a.text-underline:active, a.text-underline:focus, a.text-underline:hover,
  .text-underline:active,
  .text-underline:focus,
  .text-underline:hover {
    text-decoration: none; }

.sr-only {
  -webkit-clip-path: inset(50%);
  border: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.mybtn, #cookie-ok button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff; }
  .mybtn:hover, #cookie-ok button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color: #f6f6f6; }
  .mybtn:active, #cookie-ok button:active {
    position: relative;
    top: 1px; }

* {
  box-sizing: border-box; }

html {
  background-color: #fdfdfd; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fdfdfd;
  padding: 3.1rem 0 0rem 0;
  color: #373737; }
  body > header,
  body > main,
  body > aside {
    max-width: 700px;
    margin: 0 auto; }
  body > footer {
    margin-bottom: 0 !important;
    padding-bottom: 6rem; }

a:link, a:visited {
  text-decoration: none; }
  a:link .nolink,
  a:link .nolink *, a:visited .nolink,
  a:visited .nolink * {
    text-decoration: none !important;
    -webkit-text-decorations-in-effect: none !important; }

a:hover, a:active, a:focus {
  text-decoration: underline; }
  a:hover .nolink,
  a:hover .nolink *, a:active .nolink,
  a:active .nolink *, a:focus .nolink,
  a:focus .nolink * {
    text-decoration: none !important;
    -webkit-text-decorations-in-effect: none !important; }

.fas,
.fab {
  width: .875em;
  height: 1em;
  display: inline-block; }

#cookie-ok {
  background: #2D559F;
  background: linear-gradient(to bottom, #2d559f 90%, #0b3377 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 0.3rem 0.3rem 0 0;
  box-shadow: 3px 3px 3px 0px #d7d8d9;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  width: 100vw;
  z-index: 10;
  padding: 1rem;
  font-size: 0.8rem;
  max-width: 700px;
  margin: 0 auto; }
  #cookie-ok button:after {
    font-family: monospace;
    content: " 👍"; }
  #cookie-ok:hover button:after {
    font-family: monospace;
    content: " 😅"; }

nav {
  position: fixed;
  background: #efefef;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0.5rem;
  background-color: #fdfdfd;
  background-color: rgba(253, 253, 253, 0.98); }
  nav .nav {
    width: 100%;
    width: 100vw;
    height: 3.1rem;
    padding: 1rem 0rem 0.8rem 0rem; }
    nav .nav ul,
    nav .nav li {
      list-style-type: none;
      -webkit-margin-before: 0 !important;
      -webkit-margin-after: 0 !important;
      -webkit-margin-start: 0 !important;
      -webkit-margin-end: 0 !important;
      -webkit-padding-start: 0 !important; }
    nav .nav li a,
    nav .nav li a:link,
    nav .nav li a:visited {
      padding-left: 0.6rem; }

header,
main,
aside,
footer {
  margin-bottom: 3rem; }

main,
aside {
  padding: 1rem 1rem; }

header {
  padding: 0 2rem;
  padding-top: 2.5rem; }
  header h1 {
    font-size: 1rem; }

aside {
  margin-bottom: 20vh; }

main h2 {
  line-height: 1.3rem;
  font-size: 1rem; }

main p, main ul {
  line-height: 1.6; }

.img-badge {
  height: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 10rem;
  background-size: cover;
  display: inline-block; }

.title-spacer {
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 4rem 0 3rem 0;
  text-transform: uppercase; }
  .title-spacer + .title-spacer {
    margin-top: -2.5rem; }

.title-entry {
  font-size: 1.6rem; }
  .title-entry time .DD {
    font-size: 1.3em;
    letter-spacing: -1px; }
  .title-entry time .MMM {
    font-size: 0.5em; }
  .title-entry small {
    font-size: 0.6em; }

.article-list {
  list-style-type: none; }
  .article-list:not(.simple) li {
    list-style-type: none;
    margin: 1rem 0; }
    .article-list:not(.simple) li:first-child h2,
    .article-list:not(.simple) li:first-child h3 {
      margin-top: 0; }
    .article-list:not(.simple) li:last-child {
      border-bottom: 0; }
  .article-list:not(.simple) h2,
  .article-list:not(.simple) h3 {
    margin: 1rem; }
  .article-list:not(.simple) time {
    margin-right: 2.5rem; }
  .article-list.simple li {
    padding: 0.2rem 0.4rem;
    display: inline-block; }

.btn-light {
  background: none;
  border-radius: 0;
  border: 2px solid #373737;
  color: #373737;
  display: inline-block;
  font-size: 11px;
  outline: 0;
  padding: 14px 26px; }

.layout-blog main img,
.layout-blog main .twitter-tweet {
  margin: 2.5rem auto !important;
  max-width: 100%;
  display: block; }

.layout-blog main pre {
  max-width: 100%;
  display: block;
  overflow-x: scroll;
  display: block;
  padding: 0.5rem;
  margin: 0 0 0.6rem;
  font-size: 0.85rem;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #fdfdfd;
  border: 1px solid #b3b3b3;
  border-radius: 0.25rem; }

.layout-blog main p code {
  padding: 0.12rem 0.22rem;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px; }

.layout-blog main + hr {
  border: 0.3px solid silver; }

.site-image {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  overflow: hidden !important;
  height: 0 !important;
  padding-top: 12.25% !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 14.28571% !important;
  flex: 0 0 14.28571% !important;
  max-width: 14.28571% !important; }
