/* @import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext); */
/* @import url(http://fonts.googleapis.com/css?family=Philosopher); */
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css");
.border-top, nav {
  border-top: 1px solid #d7d8d9; }

.border-bottom, nav, aside, .article-list li {
  border-bottom: 1px solid #d7d8d9; }

* {
  box-sizing: border-box; }

html {
  background-color: #fdfdfd; }

body {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  background-color: #fdfdfd;
  padding: 3.1rem 0 5rem 0;
  color: #373737; }

.m-0, #cookie-ok, nav, nav ul,
nav li, .article-list, .article-list li {
  margin: 0; }

.p-0, nav ul,
nav li, .article-list, .article-list li {
  padding: 0; }

a:link, a:visited {
  color: #2c62b8;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

.sr-only {
  -webkit-clip-path: inset(50%);
  border: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.fas,
.fab {
  width: .875em;
  height: 1em;
  display: inline-block; }

#cookie-ok {
  background: #c0d3f0;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  width: 100vw;
  z-index: 10;
  cursor: pointer;
  padding: 1rem;
  font-size: 0.8rem;
  max-width: 700px;
  margin: 0 auto; }

nav {
  max-width: 700px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  width: 100vw;
  top: 0;
  height: 3.1rem;
  background-color: #fdfdfd;
  background-color: rgba(253, 253, 253, 0.98);
  padding: 1rem 1rem 0.8rem 1rem; }
  nav ul,
  nav li {
    list-style-type: none;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0 !important;
    -webkit-margin-end: 0 !important;
    -webkit-padding-start: 0 !important; }
  nav li a,
  nav li a:link,
  nav li a:visited {
    padding-left: 0.6rem;
    color: #373737; }

header,
main,
aside,
footer {
  margin-bottom: 3rem; }

main,
aside {
  padding: 1rem 1rem; }

header {
  text-align: center;
  padding: 0 2rem;
  padding-top: 2.5rem; }
  header h1 {
    font-size: 1rem; }

.img-badge {
  height: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 10rem;
  background-size: cover;
  display: inline-block; }

.text-center {
  text-align: center; }

.text-bold {
  font-weight: 600; }

.text-light, .article-list time .MMM {
  font-weight: 200; }

.title-spacer {
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 4rem 0 3rem 0;
  text-transform: uppercase; }

.article-list {
  list-style-type: none; }
  .article-list li {
    list-style-type: none; }
    .article-list li:first-child h2, .article-list li:first-child h3 {
      margin-top: 0; }
    .article-list li:last-child {
      border-bottom: 0; }
  .article-list h2, .article-list h3 {
    margin: 1rem; }
  .article-list time {
    margin-right: 2.5rem; }
    .article-list time .DD {
      font-size: 1.5rem; }
    .article-list time .MMM {
      font-size: 0.8rem; }
  .article-list a:hover time, .article-list a:hover h3, .article-list a:hover h2, .article-list a:active time, .article-list a:active h3, .article-list a:active h2 {
    background: red;
    text-decoration: none !important;
    text-decoration-line: none !important; }
    .article-list a:hover time > *, .article-list a:hover h3 > *, .article-list a:hover h2 > *, .article-list a:active time > *, .article-list a:active h3 > *, .article-list a:active h2 > * {
      text-decoration: none !important;
      text-decoration-line: none !important; }
