@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css");
html.layout-stf {
  font-size: 13px;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  color: #444; }
  html.layout-stf *,
  html.layout-stf ::after,
  html.layout-stf ::before {
    box-sizing: border-box;
    box-sizing: border-box; }
  html.layout-stf body {
    font-size: 1.2rem;
    margin: 0;
    padding: 0; }
  html.layout-stf .box, html.layout-stf blockquote, html.layout-stf pre, html.layout-stf .image {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.4rem; }
  html.layout-stf .wrapper, html.layout-stf body > main {
    max-width: 630px;
    margin: 0 auto;
    padding: 0 1rem; }
  html.layout-stf .small, html.layout-stf .article-post footer {
    font-size: 0.9rem; }
  html.layout-stf fieldset {
    padding: 0;
    margin: 0; }
  html.layout-stf p,
  html.layout-stf ul,
  html.layout-stf ol,
  html.layout-stf dl,
  html.layout-stf table,
  html.layout-stf blockquote,
  html.layout-stf pre,
  html.layout-stf form {
    margin: 1.5rem 0;
    line-height: 1.4167; }
    html.layout-stf p ul,
    html.layout-stf p ol,
    html.layout-stf ul ul,
    html.layout-stf ul ol,
    html.layout-stf ol ul,
    html.layout-stf ol ol,
    html.layout-stf dl ul,
    html.layout-stf dl ol,
    html.layout-stf table ul,
    html.layout-stf table ol,
    html.layout-stf blockquote ul,
    html.layout-stf blockquote ol,
    html.layout-stf pre ul,
    html.layout-stf pre ol,
    html.layout-stf form ul,
    html.layout-stf form ol {
      margin-top: 0; }
      html.layout-stf p ul:last-child,
      html.layout-stf p ol:last-child,
      html.layout-stf ul ul:last-child,
      html.layout-stf ul ol:last-child,
      html.layout-stf ol ul:last-child,
      html.layout-stf ol ol:last-child,
      html.layout-stf dl ul:last-child,
      html.layout-stf dl ol:last-child,
      html.layout-stf table ul:last-child,
      html.layout-stf table ol:last-child,
      html.layout-stf blockquote ul:last-child,
      html.layout-stf blockquote ol:last-child,
      html.layout-stf pre ul:last-child,
      html.layout-stf pre ol:last-child,
      html.layout-stf form ul:last-child,
      html.layout-stf form ol:last-child {
        margin-bottom: 0; }
  html.layout-stf dl dt:not(:first-child) {
    margin-top: 0; }
  html.layout-stf h1 a:link, html.layout-stf h1 a:visited,
  html.layout-stf h2 a:link,
  html.layout-stf h2 a:visited,
  html.layout-stf h3 a:link,
  html.layout-stf h3 a:visited,
  html.layout-stf h4 a:link,
  html.layout-stf h4 a:visited,
  html.layout-stf h5 a:link,
  html.layout-stf h5 a:visited,
  html.layout-stf h6 a:link,
  html.layout-stf h6 a:visited {
    text-decoration: none; }
  html.layout-stf h1 a:hover, html.layout-stf h1 a:active, html.layout-stf h1 a:focus,
  html.layout-stf h2 a:hover,
  html.layout-stf h2 a:active,
  html.layout-stf h2 a:focus,
  html.layout-stf h3 a:hover,
  html.layout-stf h3 a:active,
  html.layout-stf h3 a:focus,
  html.layout-stf h4 a:hover,
  html.layout-stf h4 a:active,
  html.layout-stf h4 a:focus,
  html.layout-stf h5 a:hover,
  html.layout-stf h5 a:active,
  html.layout-stf h5 a:focus,
  html.layout-stf h6 a:hover,
  html.layout-stf h6 a:active,
  html.layout-stf h6 a:focus {
    text-decoration: none; }
  html.layout-stf b,
  html.layout-stf .strong {
    font-weight: 600; }
  html.layout-stf .thin {
    font-weight: lighter;
    letter-spacing: 0.1rem; }
  html.layout-stf .caps {
    text-transform: uppercase;
    letter-spacing: -0.1rem; }
  html.layout-stf .fancy {
    text-transform: capitalize;
    letter-spacing: -0.1rem;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic; }
  html.layout-stf .muted,
  html.layout-stf .mute {
    color: #aaa; }
  html.layout-stf table {
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word; }
  html.layout-stf blockquote {
    border-left: 0.4rem solid #ddd;
    padding-right: 0.5rem; }
    html.layout-stf blockquote footer:last-child {
      padding-top: 0.5rem; }
  html.layout-stf pre {
    border-top: 0.15rem solid #ddd;
    border-right: 0.15rem solid #ddd;
    border-bottom: 0.15rem solid #ddd;
    border-left: 0.4rem solid #ddd;
    overflow-x: scroll; }
    html.layout-stf pre code {
      display: block;
      overflow: visible;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0; }
  html.layout-stf cite:before {
    display: inline-block;
    content: ' — ';
    margin-right: 0.2em; }
  html.layout-stf a:link, html.layout-stf a:visited {
    color: #0080C3; }
  html.layout-stf a:hover, html.layout-stf a:active, html.layout-stf a:focus {
    color: #fff;
    background: #0080C3;
    text-decoration: none;
    outline-color: #0080C3;
    outline-offset: 0px;
    outline-style: solid;
    outline-width: 1rem;
    -moz-outline-radius: 4px;
    outline-radius: 4px; }
  html.layout-stf .image {
    padding: 0;
    display: block;
    width: 100%; }
  html.layout-stf .date {
    font-size: 1.1rem;
    font-weight: 300; }
    html.layout-stf .date:before {
      background-image: url(../ico/blog_freccia.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      content: ' ';
      display: inline-block;
      height: 10px;
      width: 9px;
      vertical-align: top;
      margin-top: 0.4em;
      margin-right: 1.5em;
      margin-right: 2vw; }
  html.layout-stf .article-post {
    margin-bottom: 8rem; }
    html.layout-stf .article-post header {
      position: relative;
      display: block; }
      @media (min-width: 880px) {
        html.layout-stf .article-post header .date {
          top: -1.2rem;
          left: -13.5rem;
          position: absolute; } }
    html.layout-stf .article-post footer p {
      margin: 0.7rem 0; }

/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
