/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css');
@import './styles/colors.scss';
@import './styles/helpers.scss';
* {
    box-sizing: border-box;
}

html {
    background-color: $color_white;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $color_white;
    padding: 3.1rem 0 0rem 0;
    color: $color_black;
    &> {
        header,
        main,
        aside {
            @include width-limits();
        }
        footer {
            margin-bottom: 0 !important;
            padding-bottom: 6rem;
        }
    }
}

a {
    &:link,
    &:visited {
        @extend .text-color-main;
        text-decoration: none;
        .nolink,
        .nolink * {
            text-decoration: none !important;
            -webkit-text-decorations-in-effect: none !important;
        }
    }
    &:hover,
    &:active,
    &:focus {
        @extend .text-color-main;
        text-decoration: underline;
        .nolink,
        .nolink * {
            text-decoration: none !important;
            -webkit-text-decorations-in-effect: none !important;
        }
    }
    &.text-color-normal {
        &:link,
        &:visited {
            @extend .text-color-normal;
        }
        &:hover,
        &:active,
        &:focus {
            @extend .text-color-normal;
        }
    }
}

.fas,
.fab {
    width: .875em;
    height: 1em;
    display: inline-block;
}

#cookie-ok {
    @extend .cursor-pointer;
    @extend .m-0;
    background: #2D559F;
    background: linear-gradient(to bottom, rgba(45, 85, 159, 1) 90%, rgba(11, 51, 119, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 0.3rem 0.3rem 0 0;
    box-shadow: 3px 3px 3px 0px $color_gray;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    width: 100vw;
    z-index: 10;
    padding: 1rem;
    font-size: 0.8rem;
    @include width-limits();
    button {
        @extend .cursor-pointer;
        @extend .mybtn;
        &:after {
            font-family: monospace;
            content: " 👍"
        }
    }
    &:hover {
        button {
            &:after {
                font-family: monospace;
                content: " 😅"
            }
        }
    }
}

nav {
    position: fixed;
    background: #efefef;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.5rem;
    background-color: $color_white;
    background-color: rgba($color_white, 0.98);
    .nav {
        // @include width-limits();
        @extend .m-0;
        @extend .border-top;
        @extend .border-bottom; // position: fixed;
        width: 100%;
        width: 100vw; // top: 0;
        height: 3.1rem; // padding: 1rem 1rem 0.8rem 1rem;
        padding: 1rem 0rem 0.8rem 0rem;
        ul,
        li {
            @extend .m-0;
            @extend .p-0;
            list-style-type: none;
            -webkit-margin-before: 0 !important;
            -webkit-margin-after: 0 !important;
            -webkit-margin-start: 0 !important;
            -webkit-margin-end: 0 !important;
            -webkit-padding-start: 0 !important;
        }
        li {
            a,
            a:link,
            a:visited {
                padding-left: 0.6rem;
            }
        }
    }
}

header,
main,
aside,
footer {
    margin-bottom: 3rem;
}

main,
aside {
    padding: 1rem 1rem;
}

header {
    @extend .text-center;
    padding: 0 2rem;
    padding-top: 2.5rem;
    h1 {
        font-size: 1rem;
    }
    p {}
}

aside {
    @extend .border-bottom;
    margin-bottom: 20vh;
}

.img-badge {
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 10rem;
    background-size: cover;
    display: inline-block; // border: 1px solid $color_secondary;
}

.title-spacer {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 4rem 0 3rem 0;
    text-transform: uppercase;
    &+.title-spacer {
        margin-top: -2.5rem;
    }
}

.title-entry {
    font-size: 1.6rem;
    @extend .text-normal;
    time {
        .DD {
            font-size: 1.3em;
            letter-spacing: -1px;
            @extend .text-bold;
        }
        .MMM {
            font-size: 0.5em;
            @extend .text-light;
        }
    }
    small {
        font-size: 0.6em;
        @extend .text-color-normal;
    }
}

.article-list {
    @extend .m-0;
    @extend .p-0;
    list-style-type: none;
    &:not(.simple) {
        li {
            @extend .border-bottom;
            @extend .m-0;
            @extend .p-0;
            list-style-type: none;
            margin: 1rem 0;
            &:first-child {
                h2,
                h3 {
                    margin-top: 0;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        h2,
        h3 {
            margin: 1rem;
        }
        time {
            margin-right: 2.5rem;
        }
    }
    &.simple {
        li {
            padding: 0.2rem 0.4rem;
            display: inline-block;
        }
    }
}

.btn-light {
    background: none;
    border-radius: 0;
    border: 2px solid $color_black;
    color: $color_black;
    display: inline-block;
    font-size: 11px;
    outline: 0;
    padding: 14px 26px;
}

.layout-blog {
    main {
        img,
        .twitter-tweet {
            margin: 2.5rem auto !important;
            max-width: 100%;
            display: block;
        }
        pre {
            max-width: 100%;
            display: block;
            overflow-x: scroll;
            display: block;
            padding: 0.5rem;
            margin: 0 0 0.6rem;
            font-size: 0.85rem;
            line-height: 1.42857143;
            word-break: break-all;
            word-wrap: break-word;
            color: #333;
            background-color: $color_white;
            border: 1px solid $color_mute;
            border-radius: 0.25rem;
        }
        p {
            code {
                padding: 0.12rem 0.22rem;
                font-size: 90%;
                color: $color_red;
                background-color: $color_red_light;
                white-space: nowrap;
                border-radius: 4px;
            }
        }
        h3 {
            @extend .text-color-light;
        }
    }
    main+hr {
        border: 0.3px solid silver;
        @extend .m-0;
        @extend .p-0;
    }
}

.site-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    height: 0 !important;
    padding-top: 12.25% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 14.28571% !important;
    flex: 0 0 14.28571% !important;
    max-width: 14.28571% !important;
}
