<article class="stealthefish__hero" id="tl-id-8" data-turbolinks-permanent>
<%- `${!!theme.author.gravatar ?
  `<img src="${url_for(theme.author.gravatar)}"  alt="Gravatar: ${config.author}" />` : ''
}` %>
<% if (is_home()) { %>
  <%- markdown(theme.hero_content) %>
<% } else {%>
  <%- markdown(theme.hero_content)
        .replace('<h1 ', '<header ')
        .replace('</h1>', '</header>')
  %>
<% }%>
</article>
<hr>
